<div class="container">

    <div class="row vertical-spacing">
        <div class="col-xs-12">
            <div class="pull-right">
                <a class="btn" href="/language/finnish"><span class="fa fa-eye"></span> ###finnish###</a>
                <a class="btn" href="/language/english"><span class="fa fa-eye"></span> ###english###</a>
            </div>
        </div>
    </div>

</div>