<% layout('layout') -%>

<div class="container">

    <div class="col-sm-6 col-sm-offset-3">
    
        <h1><span class="fa fa-sign-in"></span> ###recovery###</h1>
    
        <!-- RECOVERY FORM -->
        <form action="/recovery" method="post">
            <div class="form-group">
                <label>###email###</label>
                <input type="text" class="form-control" name="email">
            </div>
    
            <button type="submit" class="btn btn-warning btn-lg">###send###</button>
        </form>
    </div>

</div>
